body {
background: #FFFFDD;
background-image: url("images/background.jpeg");
background-size: cover;
}

a { text-decoration: none; }
a.invisible { color: black; }


h1 {
  padding: 1em 0 0 0;
}

.card {
  background: #FFFFFF;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  margin: 6em;
  height: 20%;
  font-size: 150%;
}

.grid___ {
  display: flex;
  flex-wrap: wrap;
}

.griditem {
  float: left;
  margin: 1%;
  padding: 1%;
  height: 23%;
  width: 29%;
  position: relative;
  font-size: 150%;
}

.listing {
  margin: 1%;
  padding: 0em 3em 0em 3em;
  position: relative;
}

.service {
}

.person {
  font-style: italic;
}

.url {
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

.pre-url {
  font-size: 125%;
}

.ix {
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1em;
}