<html>
<head>
<link rel="stylesheet" href="static/style.css?foo2">
<script>
page = 0;
function refresh() {
  page++;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("cards").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "raw_cards?page=" + page, true);
  xhttp.send();
}

setInterval(refresh, 6000)
</script>
</head>
<body>
<center>

<p class='pre-url'>
Thank you for social distancing.
To add or view services offered, please visit
</p>
<p class='url'>
https://bcrs-service-auction.appspot.com/
</p>

<div class="grid" id="cards">
{% include 'raw_cards.html' %}
</div>

</center>
</body>
</html>
