<html>
<head>
<title>Bear Creek {{year}} Service Auction</title>
<link rel="stylesheet" href="static/style.css?foo">
</head>
<body>
<center>
<h1>Bear Creek {{year}} Service Auction</h1>

{% for ix, service, person in cards %}
<div class="card listing">
<a href='/one?service={{service}}&person={{person}}' class="invisible">
<div class="ix">#{{ix+1}}</div>
<div>
<p class="service">{{service}}</p>
<p class="person">{{person}}</p>
</div>
</a>
</div>
{% endfor %}
<a href="/">back</a>

</center>
</body>
</html>
